#/*
#/*
#!/src/*
#!/.idea/*
#!/pom.xml
#/src/main/java/com/gmail/alex60070/Settings.java

#*
#!/src/
#!/src/**
#!/src/main/

#!/pom.xml

/target
/MusicBot.iml
/log
/src/main/java/com/gmail/alex60070/Settings.java




